<br/>
<div class="eden">
    <div class="container">
        <br/>
        <br/>
        <br/>
<form style="margin-left:470px;" asp-controller="User" asp-action="ImportUsers" method="post" enctype="multipart/form-data">

    <div class="form-group w-25">
        <input type="file" name="file" class="form-control"/>
    </div>

    <hr />
    <br/>

    <button type="submit" class="btn btn-success">Import Excel</button>
    <br/>
    <br/>
    <br/>
</form>
        </div>
</div>