@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .hh {
            font-family: "Monaco", monospace;
            color: white;
            text-align: center;
            margin-top: 255px;
            font-size: 94px;
            text-shadow: 5px 0 black, 0 1px black, 6px 0 black, 0 -1px black
        }
    </style>
</head>
<body>

   <div style="background-color:rgba(248, 186, 15, 0.6); border-radius:4.25rem!important "  >
    <p class="hh"><b><i>DID YOU GET YOURS?</i></b></p>
       </div>

</body>
</html>
